.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .logo_container {
    height: 13vh;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .logo_container img{
    width: 3rem;
    margin: auto 1rem;
  }
  .success_container {
    height: 65vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    gap: 1rem;
    border: 3px solid #e3e3e3;
    box-shadow: 14px 16px 23px 2px rgba(0, 0, 0, 0.11);
  }
  .back_btn {
    width: 18rem;
    border: none;
    outline: noe;
    padding: 0.7rem;
    border-radius: 7px;
    background: #2e0052;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /*Responcive Code  */
  @media only screen and (max-width: 520px) {
    .success_container {
      height: 66vh;
      width: 90vw;
    }
  }
  