@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');

/* ProductCard.css */
.productCard {
    width: 285px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    margin: 1rem;
    background: #fff;
    cursor: pointer;
  }
  
  .productCard:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
  }
  .product_image_div {
    position: relative;
    background: #d4e5ff;
    width: 100%;
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productImage {
    width: 75%;
    height: 215px;
    object-fit: fill;
    transition: transform 0.5s;
  }
  .productImage:hover {
    transform: scale(1.04);
  }
  .cartIcon {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    background: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  .product_desc {
    cursor: pointer;
    font-weight: 800;
    padding: 20px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  a {
    text-decoration: none;
  }
  .productTitle {
    font-size: 18px;
    margin: 10px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .productPrice {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  /* Responcive Code  */
  @media only screen and (max-width: 520px) {
    .productCard {
      width: 170px;
      margin: 0.5rem;
    }
    .product_image_div {
      height: 11rem;
    }
    .productImage {
      height: 150px;
    }
    .product_desc {
      padding: 1px 15px;
    }
  }
  