.search_container {
    width: 90vw;
    display: flex;
    margin: auto auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search_input {
    width: 95%;
    padding: 0.6rem 2.3rem;
    padding-left: 4rem;
    border-radius: 48px;
    border: 2px solid #c8c8c8;
    outline: none;
    font-size: 1.1rem;
  }

  .search_icon {
    position: absolute;
    width: 30px;
    left: 5.5rem;
  }
  
  /* Responcive Code  */
  @media only screen and (max-width: 520px) {
    .container {
      padding: 0;
    }
    .search_input {
      width: 97%;
      border-radius: 5px;
    }
    .search_icon {
      width: 1.5rem;
      left: 0.5rem;
    }
  }
  